<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  
  <title>Online Judge</title>
</head>
<body>
  <nav style="margin-bottom: 2%;"class="navbar navbar-expand-lg bg-light">
    <div style="margin-left:5%; margin-right:5%;"class="container-fluid">
      <a class="navbar-brand" href="#">Hii {{username}} !!</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

         
        
          <!-- <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Problemset</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'submissionSet' %}">Submissions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'leaderboard' %}">Leaderboard</a>
            </li>
            <li class ="nav-item me-auto"  ><a class ="nav-link" href="{% url 'logout' %}"> LOGOUT </a></li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- {{inputt.input_output}} -->
      <p style = "margin-left:20%; padding-bottom:2%;"class="h1"> {{problem.problem_number}}:{{problem.problem_name}}</p>
      <div style = "margin-left:20%">
          <p>
              {{problem.problem_text}}
          </p>
          <p>
            SAMPLE INPUT ->    
          </p>
          <p>{{inputt.input_text}} </p>
          <p>
            OUTPUT ->  {{inputt.input_output}}
          </p>
        
          <!-- <form role="form" class="form-horizontal" method="post" enctype="multipart/form-data"> -->
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Submit">
       </form>       
      </div>
      <figure style="margin-left:21%; margin-right:31%; margin-top: 10%;"class="text-center">
        <blockquote class="blockquote">
          <p>WITHOUT HARD WORK
            NOTHING CAN BE ACHIEVED
            IN THIS WORLD.GREAT MEN
            OF THE WORLD ROSE TO
            FAME AND FORTUNE BY DINT
            OF STRENUOUS LABOUR AND
              PERSEVERANCE.              
                       </p>
        </blockquote>
        <figcaption class="blockquote-footer">
          DEV RAJ AGGARWAL
        </figcaption>
      </figure>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>


